@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}



.text-glow {
  text-shadow: none;
}

.text-glow:hover{
  text-shadow: 0 0 15px #06b6d4, 0 0 25px #06b6d4;
}

.landingBg{
  background-image: url('/homepage/background.jpeg');
}

.btn {
  padding: 10px 20px;
  text-transform: uppercase;
  border-radius: 8px;
  font-size: 17px;
  font-weight: 500;
  color: black;
  text-shadow: none;

  cursor: pointer;
  box-shadow: transparent;
  border: 2px solid black;
  transform: scale(1.05);
  transition: 0.5s ease;
  user-select: none;
}

.btn1:hover {
  color: black;
  background: #008cff;
  border: 1px solid #008cff;
  text-shadow: 0 0 5px #ffffff, 0 0 10px #ffffff, 0 0 20px #ffffff;
  box-shadow: 0 0 5px #008cff, 0 0 20px #008cff, 0 0 50px #008cff,
    0 0 100px #008cff;
}